html
{
	font-family: Arial;
}

section.sonnet
{
	font-family: Tahoma;
}

span.fav
{
	color: orange;
}

body
{
	display: block;
}

#main
{
	max-width: 65%;
	float: left;
}

#sidebar
{
	max-width: 30%;
	float: left;
	font-size: 2em;
}

footer
{
	width: 40%;
	float: left;
}